* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body , #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 0 16px;
  height: 60px;
  background: #9D6B6B;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: 0 2px 4px rgba (0,0,0,0.4);
}

.header__navBar {
  display: flex ;
  justify-content: center;
  align-items: center;
}

.header__navBar__link {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.main {
  flex:1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #9D6B6B;
  font-size: 4rem;
}

.main__titulo__carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #9D6B6B;
  font-size: 4rem;
  position: absolute;
  top: 20;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  text-shadow: 1px 1px 2px whitesmoke;
}


.main__carousel__img {
  height: 850px;
  display: block;
}

.itemListContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.itemListContainer__producto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.itemListContainer__producto__valor {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.itemListContainer__producto__valor span {
  color:#9D6B6B;
}

.itemListContainer__producto__btn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  
}

.footer {
  height: 40px;
  background: #9D6B6B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text__a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: whitesmoke;
}

.footer__text__a:hover{
  background-color: #e40555;
  border-radius: 10px solid #e40555;
  
}

.true {
  color: green;
}

.false {
  color: red;
}

.cartWidget__value {
  color:whitesmoke;
  text-decoration: none;
  text-decoration-line: none;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap : 1rem;
  margin : 1rem;
}

.itemListContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.itemListContainer__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius:  4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 50px;
}

.itemListContainer__card__h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #9D6B6B;
  font-size: 2rem;
  margin:10px;
}

.itemListContainer__card__img {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

.itemListContainer__card__btn{
  text-decoration: none;
  color: #9D6B6B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  margin:10px;
}

.itemListContainer__card__btn__link:hover {
  color: whitesmoke;
}

.itemListContainer__card__btn__link {
  text-decoration: none;
  color: #9D6B6B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  margin:10px;
}

.card {
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.card__tienda__link {
  text-decoration: none;
  color: #9D6B6B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
}

.card__tienda__link:hover {
  color: black;
  border-bottom: 0.5px solid #9D6B6B;
}

.card__tienda__h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#9D6B6B;
  font-size: 2rem;
}

.card__tienda__img {
  border-radius: 10px;
}


.itemDetailContainer__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius:  4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 50px;
  width: 100%;
}

.itemDetailContainer__card__h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #9D6B6B;
  font-size: 2rem;
  margin:10px;
}

.itemDetailContainer__card__img {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  height: 200%;
  width: 80%;
}


.itemDetailContainer__card__h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #9D6B6B;
  font-size: 2rem;
  margin:10px;
}

.itemDetailContainer__card__p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #9D6B6B;
  font-size: 1.5rem;
  margin:10px;
}

.itemDetailContainer__btn {
  text-decoration: none;
  color: #9D6B6B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  margin:10px;
  
}

.itemDetailContainer__btn:hover {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: whitesmoke;
}


.main__p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.main__img {
  height: auto;
}


.Itemcount {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Itemcount div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;

}


.removeButton{
  background-color: #beb0a7;
  /* border: 1px solid black; */
  border: 1px solid ivory;
  color: ivory;
  border-radius: 8px;
  padding: 5px 20px;
}

.removeButton:hover{
  background-color: ivory;
  transition: background-color 1s ease;
  outline: 0;
  color: #918882;
}


.addButton{
  border: 1px solid ivory;
  border-radius: 8px;
  background-color: #beb0a7;
  color: ivory;
  padding: 5px 20px;
}

.addButton:hover{
  background-color: ivory;
  transition: background-color 1s ease;
  outline: 0;
  color: #918882;
}


.count{
  color: #9D6B6B ;
  padding: 0px 20px;
}


.addCarrito {
  border: 1px solid ivory;
  border-radius: 8px;
  background-color: #beb0a7;
  color: ivory;
  padding: 10px;
  margin-bottom: 10px;
    
}

.addCarrito:hover {
  background-color: ivory;
  transition: background-color 1s ease ;
  outline: 0;
  color: #918882
}

.main__carousel{
  height: 80%;
}


@media  (min-width: 540px) and (max-width:920px) {

	.main__titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
  }
}




@media  (min-width: 480px) and (max-width:540px) {

	.main__titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 0 16px;
    height: 100px;
    background: #9D6B6B;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 2px 4px rgba (0,0,0,0.4);
  }
  
}



@media  (min-width: 300px) and (max-width:480px) {
	.main__titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 0 16px;
    height: 100px;
    background: #9D6B6B;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 2px 4px rgba (0,0,0,0.4);
  }

}